---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import type { Tag, TagPageProps } from "../../types/content";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");
  const uniqueTags: Tag[] = Array.from(
    allPosts.reduce((acc, post) => {
      post.data.tags.forEach((tag) => acc.add(tag));
      return acc;
    }, new Set<Tag>()),
  );

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
if (!tag) {
  throw new Error("Missing tag route parameter");
}
const { posts } = Astro.props as TagPageProps;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
